@page "/planningchart"
@using BlazorApp.Share.Models
@using BlazorApp.Data
@using Syncfusion.Blazor.Navigations
@using BlazorApp.Components
@using BlazorApp.Consumers
@using SelectionMode = Syncfusion.Blazor.Grids.SelectionMode
@inject EmployeeApiConsumer EmployeeApiConsumer
@inject ShiftApiConsumer ShiftApiConsumer

<PageTitle>Planning Chart</PageTitle>
<h1>Planning Chart</h1>

<SfGantt @ref="Gantt" DataSource="@TaskCollection" Toolbar="ToolbarItems" >
    <GanttTaskFields Id="TaskId" Name="TaskName" StartDate="StartDate" EndDate="EndDate" Duration="Duration" DurationUnit="DurationUnit" Progress="Progress" ParentID="ParentId">
    </GanttTaskFields>
    <GanttTimelineSettings TimelineViewMode="TimelineViewMode.Day"></GanttTimelineSettings>
    <GanttTooltipSettings ShowTooltip="true" TValue="TaskDto">
        <TaskbarTemplate>
            @{
                <div>@context.TaskName</div>
                <div>Start Time: @context.StartDate</div>
                <div>End Time: @context.EndDate</div>
                <div>Shift Duration: @context.Duration Minutes</div>
                <div>Devation Duration: @context.DeviationDuration Minutes</div>
            }
        </TaskbarTemplate>
    </GanttTooltipSettings>
    <GanttEditSettings AllowEditing="true" AllowAdding="true" AllowDeleting="true" Mode="Syncfusion.Blazor.Gantt.EditMode.Dialog">
    </GanttEditSettings>
    <GanttEvents OnToolbarClick="ToolbarClickHandler" TValue="TaskDto" OnActionBegin="ActionBegin"></GanttEvents>
    @* <GanttSelectionSettings Mode="SelectionMode.Row" Type="Syncfusion.Blazor.Grids.SelectionType.Multiple"></GanttSelectionSettings> *@
    @* <GanttEvents TValue="TaskDto" RowSelected="RowSelect"></GanttEvents> *@
    @* <GanttEvents TValue="TaskDto"  OnCellEdit="CellEditHandler"></GanttEvents> *@
    @* <GanttSelectionSettings Mode="SelectionMode.Cell"></GanttSelectionSettings> *@
    @*     <GanttEvents TValue="TaskDto" CellSelected="CellSelectedHandler"></GanttEvents> *@
</SfGantt>

<ShiftFormComponent @ref="ShiftForm"  />